/* font */
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Serif+KR:200,300,400,500,600,700,900&subset=korean');

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; color: #191919;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
html {font-size: 10px; font-family: 'NanumBarunGothic', sans-serif; }
ul, li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
a {display: block; margin:0; padding:0; font-size:100%; vertical-align:baseline; text-decoration: none; background:transparent; color:#191919;}
img {display: block;}
button {border: none; background: none; cursor: pointer;}
/* change colours to suit your needs */
ins {background-color:#ff9; color:#000; text-decoration:none;}
/* change colours to suit your needs */
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 0.1rem dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
/* change border colour to suit your needs */
hr {display:block; height: 0.1rem; border:0; border-top: 0.1rem solid #cccccc; margin:1em 0; padding:0;}



/* style start */
#wrap {position: relative; height: 100%;}
div.container {position: relative; display: inline-block; width: 100%; height: 100%; overflow: scroll;}
div.container::-webkit-scrollbar {display: none;}
#viewBox {position: relative; padding: 0 5.8rem; margin-bottom: 8rem;}
.viewBox_in {}

/* font color */
.blue {color: #006cff;}
.orange {color: #ff7200;}

/* main tap */
#mainTap {position: fixed; bottom: 0; width: 100%; height: 17rem; line-height: 17rem; text-align: center; overflow: hidden; border-top: 0.1rem solid #a9a9a9; background-color: #fff; z-index: 100;}
#mainTap a {position: relative; display: inline-block; vertical-align: middle; width: 32%; line-height: 3rem;}
#mainTap a .hover { width: 100%; }
#mainTap a .hover .icon {margin: 0 auto; text-indent: -9999px; margin-bottom: 1.7rem;}
#mainTap a .hover span {font-size: 3.6rem;}
#mainTap .home .icon {width: 8.3rem; height: 7.3rem; background: url('../images/icon/home_off.svg') no-repeat; background-size: contain;}
#mainTap .map .icon {width: 8.4rem; height: 7.4rem; background: url('../images/icon/wheel_off.svg') no-repeat; background-size: contain;}
#mainTap .favorite .icon {width: 7.3rem; height: 7rem; background: url('../images/icon/favorite_off.svg') no-repeat; background-size: contain;}
/*#mainTap a:hover .hover {position: absolute; top: -181px; background-color: #e0eff5; vertical-align: middle;  height: 363px; line-height: 262px; border-radius: 500px;}*/
#mainTap a:hover span,
#mainTap a.active span {color: #006cff; font-weight: bold;}
#mainTap .home:hover .icon,
#mainTap .home.active .icon {background: url('../images/icon/home_on.svg') no-repeat; background-size: contain;}
#mainTap .map:hover .icon,
#mainTap .map.active .icon {background: url('../images/icon/wheel_on.svg') no-repeat; background-size: contain;}
#mainTap .favorite:hover .icon,
#mainTap .favorite.active .icon {background: url('../images/icon/favorite_on.svg') no-repeat; background-size: contain;}

/* 슬라이드배너 */
.slider {position: relative; height: 54rem; overflow: hidden; background-size: contain;}
.slider .img img {width: 100%;}
.slider .img .banner_word {position: absolute; top: 50%; left: 50%; margin-left: -30rem; margin-top: -10rem; font-size: 7rem; text-align: center;}
.slider .img .banner_word b {display: block;}

/* 메인 */
.recommend_list {clear: both;}
.recommend_list .list_top {margin-bottom: 3.5rem; height: 5.5rem;}
.recommend_list .list_top .tit {float: left; font-size: 4.6rem;}
.recommend_list .list_top .tit .orange {font-weight: bold;}
.recommend_list .list_top .view_more {float: right; font-size: 3rem; margin-top: 1.3rem;}
.recommend_list .list_top .view_more a {color: #a9a9a9;}
.recommend_list .list_top .view_more a img {display: inline-block; margin-left: 1rem;}
.grid {display: inline-block; width: 100%;}
.grid li {position: relative; float: left; width: 32.6%; margin-right: 1%; margin-bottom: 12%;}
.grid li:last-child {margin-right: 0;}
.grid li a {}
.grid li a .img {margin-bottom: 2.4rem; background-color: #ddd; overflow: hidden; border-radius: 0.5rem; height: 35rem;}
.grid li a .img .crown {position: absolute; top: 0; width: 9rem; height: 6rem; }
.grid li a .img .crown img {display: block; width: 100%; margin: -2.8rem 0 0 -2rem;}
.grid li a .img .sumbnail {max-width: 100%; min-height: 100%;}
.grid li a .tit {font-size: 4.2rem; font-weight: bold; margin-bottom: 1.8rem; }
.grid li a .address {display: block; font-size: 2.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.grid li a .tel_no {display: block; font-size: 2.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 필터 */
.filterBox {width: 92%; margin: -7.5rem auto; margin-bottom: 8rem;}
.filterBox .filter {margin-bottom: 6rem; }
.filterBox .filter .selectBox {}
.filterBox .filter select {width: 100%; font-size: 4.8rem; padding: 5.2rem 0; opacity: 0.8; border-radius: 3rem; text-indent: 4.9rem; outline: none; background: url(../images/icon/filter_arr.svg) no-repeat #fff 96%; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.filterBox .filter select::-ms-expand {display: none;}
.filterBox .filterTab {clear: both; height: 8rem;}
.filterBox .filterTab ul {}
.filterBox .filterTab ul li {float: left; width: 19%; margin-right: 8%; font-size: 4.6rem; height: 8rem; line-height: 8rem; text-align: center;}
.filterBox .filterTab ul li:last-child {margin-right: 0;}
.filterBox .filterTab ul li a:hover,
.filterBox .filterTab ul li a.on {border: 0.2rem solid #006cff; border-radius: 5rem; color: #006cff; margin-top: -0.2rem;}


/* 메인_상세리스트 */
.back {position: relative;}
.back a {position: absolute; top: 6.5rem; left: 6.8rem; z-index: 100;}
.filterBox.list {margin-top: 12.5rem; }
.filter_result {height: 34rem;}
.filter_result .result_top {position: absolute; width: 85%; top: 20rem; left: 7.5%;}
.filter_result .result_top h2 {font-size: 8rem; margin-bottom: 3rem;}
.filter_result .result_top p {float: left; font-size: 4rem;}
.filter_result .result_top p .all {color: #006cff;}
.filter_result .result_top .filter_num {position: absolute; right: 0; bottom: 0;}
.filter_result .result_top .filter_num li {float: left; font-size: 4.2rem; margin-right: 3rem;}
.filter_result .result_top .filter_num li.on a {color: #006cff; font-weight: bold; }
.filter_result .result_top .filter_num li:last-child {margin-right: 0;}
.detail_list:first-child {border-top: 0.1rem solid #a9a9a9;}
.detail_list {border-bottom: 0.1rem solid #a9a9a9; padding: 5rem 0;}
.detail_list.on {background-color: #e0edff;}
.detail_list li {position: relative;}
.detail_list li a {display: block;}
.detail_list li a .img {display: inline-block; width: 30%; margin-left: 2%; height: 25.2rem; overflow: hidden;}
.detail_list li a .img .sumbnail {max-width: 100%; min-height: 100%;}
.detail_list li a .right {position: absolute; top: 50%; margin-top: -10rem; right: 4%; width: 60%;}
.detail_list li a .right .tit {font-size: 5rem; margin-bottom: 3%; font-weight: bold;}
.detail_list li a .right .address {display: block; font-size: 3.8rem; margin-bottom: 4%;}
.detail_list li a .right .num_views {}
.detail_list li a .right .num_views li {font-size: 3.2rem; margin-right: 3.4rem;}
.detail_list li a .right .num_views li img {margin-top: -0.5rem; margin-right: 1.4rem;}
.detail_list li .hidden {top: 0; right: 0; width: 10rem; height: 10rem; line-height: 10rem;}
.detail_list li .hidden .hidden_box {top: 4rem; right: 3.5rem;}
.detail_list li .hidden .right {top: -0.5rem; right: 3rem; width: 0.75rem;}
.pagination {margin-top: 10rem;}
.pagination ul {display: inline-block; width: 100%; text-align: center; margin-bottom: 15rem;}
.pagination ul li {display: inline-block; margin-right: 4%;}
.pagination ul li:last-child {margin-right: 0;}
.pagination ul li.on {width: 6.8rem; height: 6.8rem; border-radius: 6.8rem; background-color: #7fb5ff; margin: 0 2% 0 -1.2%;}
.pagination ul li.on a {color: #fff;}
.pagination ul li:nth-child(1) a img,
.pagination ul li:nth-child(2) a img {display: none;}
.pagination ul li.prev a img {display: block;}
.pagination ul li a {position: relative; font-size: 4rem; text-align: center; line-height: 7rem;}
.pagination ul li a img {position: absolute; bottom: -0.5rem; }

/* 상세페이지 */
.slider.detail {position: relative;}
.hidden {position: absolute; top: 6.5rem; right: 5.8rem;}
.hidden .right {position: absolute; right: 0;}
.hidden .hidden_box {display: none; position: absolute; top: 4.5rem; right: 0; background-color: #fff; width: 54.4rem; border-radius: 5rem; box-shadow: 0.5rem 0.5rem 0.5rem 0.2rem #e9e9e9; z-index: 100;}
.hidden .hidden_box.on {display: block;}
.hidden .hidden_box li {font-size: 4.8rem; height: 13.3rem; line-height: 13rem; text-align: left; padding-left: 4.4rem;}
.hidden .hidden_box li img {display: inline-block; vertical-align: middle; margin-right: 2.6rem;}
.hidden .hidden_box li .star {background-size: contain; width: 6.8rem; height: 6.5rem; margin-right: 2rem; background: url(../images/icon/favorite_s_off.svg) no-repeat;}
.hidden .hidden_box li .pin {width: 5.1rem; height: 7.4rem; margin-right: 2rem; margin-left: 1rem; background: url(../images/icon/pin_off.svg) no-repeat;}
.hidden .hidden_box li.on .star {background: url(../images/icon/favorite_s_on.svg) no-repeat; background-size: contain;}
.hidden .hidden_box li.on .pin {background: url(../images/icon/pin_on.svg) no-repeat; background-size: contain;}
.hidden .hidden_box li span {display: inline-block; vertical-align: middle; margin-top: 0.7rem;}
.viewBox_in.detail {padding-top: 4rem;}
.hidden .hidden_box li span:first-child {background-size: contain;}
.viewBox_in.detail .title_box {clear: both; display: inline-block; width: 100%; border-bottom: 0.1rem solid #a9a9a9; padding-bottom: 2rem; margin-bottom: 8rem;}
.viewBox_in.detail .title_box .left {float: left; width: 100%;}
.num_views {height: 6rem;}
.num_views li {float: left; font-size: 4rem; margin-right: 3%; text-indent: 1rem;}
.num_views img {display: inline-block; vertical-align: middle;}
.viewBox_in.detail .title_box .left .tit {font-size: 8.8rem; margin-bottom: 3.6rem;}
.viewBox_in.detail .title_box .left .address {font-size: 4.2rem; margin-bottom: 2.4rem;}
.viewBox_in.detail .title_box .left .fl {float: right; font-size: 4rem; margin-top: -0.4rem;}
.viewBox_in.detail .title_box .left span {display: inline-block; vertical-align: middle; margin-left: 0.5rem; font-weight: lighter;}
.viewBox_in.detail .contentsBox {clear: both; width: 100%; display: inline-block;}
.viewBox_in.detail .contentsBox .contents {display: inline-block; width: 100%; margin-bottom: 10.2rem;}
.viewBox_in.detail .contentsBox .contents .bullet {float: left; width: 1rem; height: 4.5rem; background-color: #7cb1fa; margin-right: 2.4rem; margin-top: 1rem;}
.viewBox_in.detail .contentsBox .contents h3 {font-size: 6.2rem; font-weight: bold; margin-bottom: 5.4rem;}
.viewBox_in.detail .contentsBox .contents .explain {font-size: 4.2rem; line-height: 6.2rem;}
.viewBox_in.detail .contentsBox .contents li {font-size: 4.2rem; line-height: 9rem;}
.viewBox_in.detail .contentsBox .contents li .bold {float: left; font-weight: bold; margin-right: 4.3rem;}
.viewBox_in.detail .contentsBox .contents li .spacing {display: inline-block; width: 8.5rem;}
.viewBox_in.detail .contentsBox .contents li p .indent {display: inline-block; width: 80%; line-height: normal;}
.pictogram {}
.pictogram ul {text-align: center;}
.pictogram ul li {float: left; width: 32.3%; margin: 0 1.5% 3% 0; border-radius: 2.3rem; background-color: #868686;}
.pictogram ul li.on {background-color: #accfff;}
.pictogram ul li.on .right p .check{color: #003984;}
.pictogram ul li:nth-child(3n) {margin-right: 0;}
.pictogram ul li div {position: relative; display: flex;}
.pictogram ul li div .img {float: left; width: 49%;}
.pictogram ul li div .img img {width: 100%; height: 100%;}
.pictogram ul li div .right {position: absolute; right: 0; width: 49%; height: 100%;}
.pictogram ul li div .right div {position: absolute; top: 1rem; width: 100%; text-align: center;}
.pictogram ul li div .right div b {display: block; width: 100%; font-size: 3.5rem; letter-spacing: -1px; line-height: 5rem;}
.pictogram ul li div .right p {position: absolute; bottom: 0; width: 100%;}
.pictogram ul li div .right p .check {display: block; text-transform: uppercase; font-weight: bold; font-size: 4.8rem; color: #fff;}


/* 지도 */
.mapBg {overflow: hidden;}
.mapBg .map {position: relative; width: 100%; height: 279rem; background-color: #f8f8f8;}
.filterBox.search {position: absolute; width: 85%; top: 12.4rem; left: 7.5%; margin-top: 0; z-index: 99;}
.filterBox .filter input {width: 100%; font-size: 4.8rem; padding: 5.2rem 0; opacity: 0.8; border-radius: 4rem; text-indent: 4.9rem; outline: none; border: 0.1rem solid #a9a9a9; z-index: 1;}
#search {position: absolute; top: 0; right: 4%; content:''; margin-top: 3.5rem; width: 8.7rem; background: url(../images/icon/search.svg) no-repeat; border: none; background-size: contain; text-indent: -9999px; cursor: pointer;}
.result {display: none; position: fixed; bottom: 170px; width: 100%; height: 700px; background-color: #fff; border-radius: 5rem; opacity: 0.9; z-index: 100;}
.result.on {display: block;}
.result .left {position: absolute; top: 11.6rem; left: 6%; font-size: 4.5rem; }
.result .left h3 {font-size: 8rem; margin-bottom: 3.6rem;}
.result .left .address {font-size: 5rem; margin-bottom: 3.6rem;}
.result .left .number {display: inline-block; font-size: 4.5rem; margin-bottom: 8rem;}
.result .favorite {position: absolute; top: 12rem; right: 6%; }
.result .favorite .star {display: block; width: 6.8rem; height: 6.5rem; background: url(../images/icon/favorite_s_off.svg) no-repeat; background-size: contain;}
.result .favorite.on .star {display: block; background: url(../images/icon/favorite_s_on.svg) no-repeat; background-size: contain;}
.result .call {position: absolute; bottom: 5.6rem; left: 6%; width: 88%; height: 17rem; font-size: 7rem; background-color: #006cff; color: #fff; border-radius: 1rem; font-weight: 500;}

/* 즐겨찾기 */
.tab {height: 0;}
.favorTap {height: 19.8rem; line-height: 18.8rem; box-shadow: 0.5rem 0.5rem 3rem 0.5rem #e9e9e9;}
.favorTap ul {}
.favorTap ul li {display: inline-block; width: 24.2%;}
.favorTap ul li.on {border-bottom: 1rem solid #006cff; }
.favorTap ul li.on a {color: #006cff; font-weight: bold;}
.favorTap ul li a {font-size: 4rem; text-align: center;}
.filter_result.favor {height: 0; margin-bottom: 16rem;}
.filter_result.favor .result_top {top: -9rem;}
.filter_result.favor .result_top p {font-size: 4.6rem;}
#viewBox.favor {display: none;}
#viewBox.on {display: block;}
.not {position: relative; text-align: center; width: 100%; height: 100%;}
.not.none {display: none;}
.not div {position: fixed; top: 50%; left: 50%; margin-left: -39rem; margin-top: -12rem;}
.not div p {font-size: 7.6rem; margin-bottom: 5.6rem; color: #006cff;}
.not span {font-size: 4.6rem;}

.modal{display: none;}
.modal.on {display: block; }
.modal .modalBg { position: absolute; width: 100%; height: 100%; background-color: #191919; opacity: 0.5; z-index: 1;}
.modal .center {position: fixed; overflow: scroll; border-radius: 0.8rem; top: 8%; left: 13%; width: 74%; height: 80%; z-index: 1;}
.modal .center li {border-bottom: 1px solid #a9a9a9; background-color: #fff; height: 16rem; line-height: 16rem; font-size: 5rem; padding-left: 4rem;}
.modal .center li input[type="radio"] {position: absolute; margin-top: 5.5rem; right: 6rem; width: 5rem; height: 5rem; background-color: #fff; border: 1px solid #a9a9a9; border-radius: 5rem; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.modal .center li input[type="radio"]:checked + label{position: absolute; margin-top: 6.8rem; right: 7.5rem;  width: 2.5rem; height: 2.5rem; background-color: #7cb1fa; border-radius: 4rem; }


@media (min-width: 400px) and (max-width: 1024px) {
    #viewBox {padding: 0 2.9rem;}
    .slider {height: 37rem;}
    .slider .img .banner_word {font-size: 3.5rem; margin-top: -5rem; margin-left: -14rem;}
    .filterBox {margin: -3.75rem auto; margin-bottom: 4rem;}
    .filterBox .filter {margin-bottom: 3rem;}
    .filterBox .filter select {font-size: 2.4rem; padding: 2.6rem 0; border-radius: 1.5rem; text-indent: 2.5rem; background-image: url(../images/icon/filter_arr_t.svg);}
    .filterBox .filterTab {height: 4rem;}
    .filterBox .filterTab ul li {font-size: 2.3rem; height: 4rem; line-height: 4rem;}
    .recommend_list {margin-bottom: 6rem;}
    .recommend_list .list_top {margin-bottom: 1.75rem; height: 2.75rem;}
    .recommend_list .list_top .tit {font-size: 2.3rem;}
    .recommend_list .list_top .view_more {font-size: 2rem; margin-top: 0.65rem;}
    .recommend_list .list_top .view_more a img {width: 1rem; margin-left: 0.6rem;}
    .grid li {margin-bottom: 6%;}
    .grid li a .img {margin-bottom: 1.2rem; border-radius: 0.4rem; height: 17.5rem;}
    .grid li a .img .crown img {width: 4rem; margin: -1.4rem 0 0 -1rem;}
    .grid li a .tit {font-size: 2.2rem; margin-bottom: 0.9rem;}
    .grid li a .address {font-size: 1.4rem;}
    
    /* 탭 */
    #mainTap {height: 8.5rem; line-height: 8.5rem;}
    #mainTap a {line-height: 1.5rem;}
    #mainTap a .hover .icon {width: 3.6rem; height: 4rem; margin-bottom: 0.6rem;}
    #mainTap a .hover span {font-size: 1.8rem;}
    
    /* 상세리스트 */
    .back a {top: 3.25rem; left: 3.4rem;}
    .back a img {width: 2.4rem;}
    .filter_result {height: 17rem;}
    .filter_result .result_top {top: 10rem;}
    .filter_result .result_top h2 {font-size: 4rem; margin-bottom: 1.5rem;}
    .filter_result .result_top p {font-size: 2rem;}
    .filter_result .result_top .filter_num li {font-size: 2.1rem; margin-right: 1.5rem;}
    .filterBox.list {margin-top: 6.25rem;}
    .recommend_list {margin-bottom: 1.5rem;}
    .detail_list {padding: 2.5rem 0;}
    .num_views {height: 3rem;}
    .detail_list li a .img {height: 14rem;}
    .detail_list li a .right {margin-top: -5rem;}
    .detail_list li a .right .tit {font-size: 2.5rem;}
    .detail_list li a .right .address {font-size: 2rem;}
    .detail_list li a .right .num_views li {font-size: 1.75rem; margin-right: 1rem;}
    .detail_list li a .right .num_views li img {width: 2rem; margin-top: -0.2rem; margin-right: 0.5rem;}
    .detail_list li .hidden .right {width: 0.4rem; top: 0.5rem; right: 1.5rem;}
    .pagination {margin-top: 5rem;}
    .pagination ul {margin-bottom: 4rem;}
    .pagination ul li {}
    .pagination ul li a {font-size: 2rem; line-height: 4rem;}
    .pagination ul li a img {height: 1.6rem; bottom: -0.1rem;}
    .pagination ul li.on {width: 3.4rem; height: 3.4rem; border-radius: 3.4rem;}
    
    /* 상세페이지 */
    .slider.detail {}
    .viewBox_in.detail {padding-top: 2rem;}
    .hidden {top: 3.25rem; right: 2.9rem;}
    .hidden img {width: 0.6rem;}
    .hidden .hidden_box {width: 27.2rem; border-radius: 2.5rem; box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem #e9e9e9;}
    .hidden .hidden_box li {font-size: 2.4rem; height: 6.65rem; line-height: 5.4rem; padding-left: 2.2rem;}
    .hidden .hidden_box li span:first-child {width: 3.4rem; margin-top: 0.35rem; margin-right: 1rem;}
    .hidden .hidden_box li img {width: 3.25rem; margin-right: 1.3rem;}
    .hidden .hidden_box li .star {width: 3.4rem; height: 3.25rem;}
    .hidden .hidden_box li .pin {height: 3.7rem; margin-left: 0.5rem;}
    .detail_list li .hidden .hidden_box {top: 3rem; right: 2rem;}
    .viewBox_in.detail .title_box .left .tit {font-size: 4.4rem; margin-bottom: 1.8rem;}
    .viewBox_in.detail .title_box .left .address {font-size: 2.1rem; margin-bottom: 1.2rem;}
    .num_views li {font-size: 2rem; text-indent: 0.5rem; margin-right: 1.5rem;}
    .num_views img {width: 2rem;}
    .viewBox_in.detail .title_box {padding-bottom: 1rem; margin-bottom: 4rem;}
    .viewBox_in.detail .title_box .left .fl {font-size: 2rem; margin-top: -0.3rem;}
    .viewBox_in.detail .contentsBox .contents h3 {font-size: 3.1rem; margin-bottom: 2.7rem;}
    .viewBox_in.detail .contentsBox .contents .bullet {width: 0.5rem; height: 2.25rem; margin-right: 1.2rem; margin-top: 0.5rem;}
    .viewBox_in.detail .contentsBox .contents {margin-bottom: 4.1rem;}
    .viewBox_in.detail .contentsBox .contents .explain {font-size: 2.1rem; line-height: 4.1rem;}
    .viewBox_in.detail .contentsBox .contents li {font-size: 2.1rem; line-height: 4.5rem;}
    .viewBox_in.detail .contentsBox .contents li .bold {margin-right: 2.15rem;}
    .viewBox_in.detail .contentsBox .contents li .spacing {width: 4.43rem;}
    .pictogram ul li {border-radius: 1.5rem;}
    .pictogram ul li div .right div {top: 1.5rem;}
    .pictogram ul li div .right div b {font-size: 2.4rem; line-height: 3rem;}
    .pictogram ul li div .right p .check {font-size: 3rem; line-height: 3rem;}
    
    /* 지도 */
    .result {height: 35rem; bottom: 9rem; border-radius: 2.5rem;}
    .result .left h3 {font-size: 4rem; margin-bottom: 1.8rem;}
    .result .left .address {font-size: 2.5rem; margin-bottom: 1.8rem;}
    .result .left {top: 5.8rem; font-size: 2.25rem;}
    .result .left .number{font-size: 2.25rem; ,bottom: 4rem;}
    .result .favorite {top: 6rem;}
    .result .favorite .star {width: 3.4rem; height: 3.25rem;}
    .result .call {bottom: 2.8rem; height: 8.5rem; font-size: 3.5rem; border-radius: 0.5rem;}
    .filterBox.search {top: 6.2rem;}
    .filterBox .filter input {font-size: 2.4rem; padding: 2.6rem 0; border-radius: 2rem; text-indent: 2.45rem;}
    #search {margin-top: 2.1rem; width: 3.8rem;}
    .mapBg .map {height: 139.5rem;}
    
    /* 즐겨찾기 */
    .favorTap {height: 9.9rem; line-height: 9.4rem; box-shadow: 0.2rem 0.2rem 1.5rem 0.2rem #e9e9e9;}
    .favorTap ul li a {font-size: 2.5rem;}
    .favorTap ul li.on {border-bottom: 0.5rem solid #006cff;}
    .filter_result.favor {margin-bottom: 10rem;}
    .filter_result.favor .result_top {top: -5rem;}
    .filter_result.favor .result_top p {font-size: 2.7rem;}
    .not div {margin-left: -19.5rem; margin-top: -6rem;}
    .not div p {font-size: 3.8rem; margin-bottom: 2.8rem;}
    .not span {font-size: 2.3rem;}
    
    /* 옵션 모달창 */
    .modal .center li {font-size: 3rem; padding-left: 4rem; height: 8rem; line-height: 8rem;}
    .modal .center li input[type="radio"] {margin-top: 2.75rem; right: 3rem; width: 2.5rem; height: 2.5rem; }
    .modal .center li input[type="radio"]:checked + label{margin-top: 3.4rem; right: 3.9rem;  width: 1.25rem; height: 1.25rem;}
}


@media (min-width: 0px) and (max-width: 600px) {
    #viewBox {padding: 0 1.45rem;}
    .slider {height: 18rem;}
    .slider .img .banner_word {font-size: 1.75rem; margin-top: -2rem; margin-left: -8rem;}
    .filterBox {margin: -1.875rem auto; margin-bottom: 2rem;}
    .filterBox .filter {margin-bottom: 1.5rem;}
    .filterBox .filterTab ul li a:hover, .filterBox .filterTab ul li a.on {border: 0.1rem solid #006cff;}
    .filterBox .filter select {font-size: 1.2rem; padding: 1.3rem 0; border-radius: 0.75rem; text-indent: 1.25rem; background-image: url(../images/icon/filter_arr_s.svg);}
    .filterBox .filterTab {height: 2rem;}
    .filterBox .filterTab ul li {font-size: 1.15rem; height: 2rem; line-height: 2rem;}
    .recommend_list {margin-bottom: 3rem;}
    .recommend_list .list_top {margin-bottom: 0.875rem; height: 1.375rem;}
    .recommend_list .list_top .tit {font-size: 1.15rem;}
    .recommend_list .list_top .view_more {font-size: 0.75rem; margin-top: 0.325rem;}
    .recommend_list .list_top .view_more a img {width: 0.5rem; margin-left: 0.25rem;}
    .grid li {margin-bottom: 3%;}
    .grid li a .img {margin-bottom: 0.6rem; border-radius: 0.2rem; height: 8.75rem;}
    .grid li a .img .crown img {width: 2rem; margin: -0.7rem 0 0 -0.5rem;}
    .grid li a .tit {font-size: 1.1rem; margin-bottom: 0.45rem;}
    .grid li a .address {font-size: 0.7rem;}
    
    /* 탭 */
    #mainTap {height: 4.25rem; line-height: 4.25rem;}
    #mainTap a {line-height: 0.75rem;}
    #mainTap a .hover .icon {width: 1.8rem; height: 2rem; margin-bottom: 0.3rem;}
    #mainTap a .hover span {font-size: 0.9rem;}
    
    /* 상세리스트 */
    .back a {top: 1.625rem; left: 1.7rem;}
    .back a img {width: 1.2rem;}
    .filter_result {height: 8.5rem;}
    .filter_result .result_top {top: 5rem;}
    .filter_result .result_top h2 {font-size: 2rem; margin-bottom: 0.75rem;}
    .filter_result .result_top p {font-size: 1rem;}
    .filter_result .result_top .filter_num li {font-size: 1.05rem; margin-right: 0.75rem;}
    .filterBox.list {margin-top: 3.125rem;}
    .recommend_list {margin-bottom: 0.75rem;}
    .detail_list {padding: 1.25rem 0;}
    .num_views {height: 1.5rem;}
    .detail_list li a .img {height: 6.9rem;}
    .detail_list li a .right {margin-top: -3rem;}
    .detail_list li a .right .tit {font-size: 1.5rem;}
    .detail_list li a .right .address {font-size: 1rem;}
    .detail_list li a .right .num_views li {font-size: 0.875rem; margin-right: 0.5rem;}
    .detail_list li a .right .num_views li img {width: 1rem; margin-top: -0.1rem; margin-right: 0.25rem;}
    .detail_list li .hidden .right {width: 0.3rem; top: 0.8rem; right: 0.75rem;}
    .pagination {margin-top: 2.5rem;}
    .pagination ul {margin-bottom: 2rem;}
    .pagination ul li {}
    .pagination ul li a {font-size: 1rem; line-height: 1.9rem;}
    .pagination ul li a img {height: 0.8rem; bottom: -0.1rem;}
    .pagination ul li.on {width: 1.7rem; height: 1.7rem; border-radius: 1.7rem;}
    
    /* 상세페이지 */
    .slider.detail {}
    .viewBox_in.detail {padding-top: 1rem;}
    .hidden {top: 1.625rem; right: 1.45rem;}
    .hidden img {width: 0.3rem;}
    .hidden .hidden_box {width: 13.6rem; border-radius: 1.25rem; box-shadow: 0.25rem 0.25rem 0.25rem 0.05rem #e9e9e9;}
    .hidden .hidden_box li {font-size: 1.2rem; height: 3.325rem; line-height: 2.7rem; padding-left: 1.1rem;}
    .hidden .hidden_box li span:first-child {width: 1.7rem; margin-top: 0.175rem; margin-right: 0.5rem;}
    .hidden .hidden_box li img {width: 1.625rem; margin-right: 0.65rem;}
    .hidden .hidden_box li .star {width: 1.7rem; height: 1.625rem;}
    .hidden .hidden_box li .pin {height: 1.85rem; margin-left: 0.25rem; }
    .detail_list li .hidden .hidden_box {top: 2.2rem; right: 1rem;}
    .viewBox_in.detail .title_box .left .tit {font-size: 2.2rem; margin-bottom: 0.9rem;}
    .viewBox_in.detail .title_box .left .address {font-size: 1.05rem; margin-bottom: 0.6rem;}
    .num_views li {font-size: 1rem; text-indent: 0.25rem; margin-right: 0.75rem;}
    .num_views img {width: 1rem;}
    .viewBox_in.detail .title_box {padding-bottom: 0.5rem; margin-bottom: 2rem;}
    .viewBox_in.detail .title_box .left .fl {font-size: 1rem; margin-top: -0.1rem;}
    .viewBox_in.detail .contentsBox .contents h3 {font-size: 1.55rem; margin-bottom: 1.35rem;}
    .viewBox_in.detail .contentsBox .contents .bullet {width: 0.25rem; height: 1.125rem; margin-right: 0.6rem; margin-top: 0.25rem;}
    .viewBox_in.detail .contentsBox .contents {margin-bottom: 2.05rem;}
    .viewBox_in.detail .contentsBox .contents .explain {font-size: 1.05rem; line-height: 2.1rem;}
    .viewBox_in.detail .contentsBox .contents li {font-size: 1.05rem; line-height: 2.25rem;}
    .viewBox_in.detail .contentsBox .contents li .bold {margin-right: 1.075rem;}
    .viewBox_in.detail .contentsBox .contents li .spacing {width: 2.215rem;}
    
    .pictogram ul li {border-radius: 0.6rem;}
    .pictogram ul li div .right div {top: 0.7rem;}
    .pictogram ul li div .right div b {font-size: 1rem; line-height: 1.2rem;}
    .pictogram ul li div .right p {bottom: 0.1rem;}
    .pictogram ul li div .right p .check {font-size: 1.2rem; line-height: 1.5rem;}
    
    /* 지도 */
    .result {height: 17.5rem; bottom: 4.5rem; border-radius: 1.25rem;}
    .result .left h3 {font-size: 2rem; margin-bottom: 0.9rem;}
    .result .left .address {font-size: 1.25rem; margin-bottom: 0.9rem;}
    .result .left {top: 2.9rem; font-size: 1.125rem;}
    .result .left .number{font-size: 1.125rem; ,bottom: 2rem;}
    .result .favorite {top: 3rem;}
    .result .favorite .star {width: 1.7rem; height: 1.625rem;}
    .result .call {bottom: 1.4rem; height: 4.25rem; font-size: 1.75rem; border-radius: 0.25rem;}
    .filterBox.search {top: 3.1rem;}
    .filterBox .filter input {font-size: 1.2rem; padding: 1.3rem 0; border-radius: 1rem; text-indent: 1.225rem;}
    #search {margin-top: 1rem; width: 1.8rem;}
    .mapBg .map {height: 69.75rem;}
    
    /* 즐겨찾기 */
    .favorTap {height: 4.95rem; line-height: 4.7rem; box-shadow: 0.1rem 0.1rem 0.75rem 0.1rem #e9e9e9;}
    .favorTap ul li a {font-size: 1.3rem;}
    .favorTap ul li.on {border-bottom: 0.25rem solid #006cff;}
    .filter_result.favor {margin-bottom: 5rem;}
    .filter_result.favor .result_top {top: -2.5rem;}
    .filter_result.favor .result_top p {font-size: 1.5rem;}
    .not div {margin-left: -9.25rem; margin-top: -2rem;}
    .not div p {font-size: 1.9rem; margin-bottom: 1.4rem;}
    .not span {font-size: 1.15rem;}
    
    
    /* 옵션 모달창 */
    .modal .center li {font-size: 1.5rem; padding-left: 2rem; height: 4rem; line-height: 4rem;}
    .modal .center li input[type="radio"] {margin-top: 1.375rem; right: 1.5rem; width: 1.25rem; height: 1.25rem; }
    .modal .center li input[type="radio"]:checked + label{margin-top: 1.7rem; right: 2.1rem;  width: 0.625rem; height: 0.625rem;}

}
